<div class="user-page">
    <h1 class="postname">
        Thông tin cá nhân
    </h1>
    <div class="row">
        <div class="col-lg-9">
            <div class="account-info">
                <h2>Cập nhật thông tin tài khoản</h2>
                <div class="container">
                    <form [formGroup]="detailForm" (ngSubmit)="create()">
                        <div class="box mb-32">
                            <div class="box-body">
                                <div class="row ">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="userName" class="label"> Tên đăng nhập</label>
                                            <input type="text" class="form-control" id="userName" [(ngModel)]="userDetail.userName"
                                                maxlength="300" [readOnly] = true formControlName="userName" [value]="this.userDetail.userName" >
                                        </div>
                                    </div>
            
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="fullName" class="label"> Tên đầy đủ</label>
                                            <input type="text" class="form-control" id="fullName" [(ngModel)]="userDetail.fullName"
                                                maxlength="300" formControlName="fullName">
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="birthday" class="label"> Ngày sinh</label>
                                            <input type="text" class="form-control" id="birthday" [(ngModel)]="userDetail.birthday"
                                                maxlength="300" formControlName="birthday">
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="phoneNumber" class="label"> Số điện thoại</label>
                                            <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="userDetail.phoneNumber"
                                                maxlength="300" formControlName="phoneNumber">
                                        </div>
                                    </div>

                                    <!-- <div class="col-lg-4">
                                        <div class="form-group">
                                            <label for="phoneNumber" class="label"> Cấp bậc</label>
                                            <select class="form-control" name="" id="phoneNumber" formControlName="phoneNumber" [(ngModel)]="userDetail.role" >
                                                <option value="0">Bạn đọc</option>
                                                <option value="1">Quản trị</option>
                                            </select>
                                        </div>
                                    </div> -->
                                </div>
                                
                                <!-- <div class="col-lg-6">
                                    <div class="form-group">
                                        <div class="my-image">
                                            <input type="file" class="form-control" id="imagePath" 
                                                (change)="onFileSelected($event)" multiple/>
                                            <label for="content">
                                                <img [src]="image" alt="abc">
                                            </label>
                                            <label for="content" class="label">Nội dung chap</label>
                                            <br>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div *ngIf="this.urls.length > 0">
                                    <ng-container *ngFor="let url of urls ; let i = index">
                                        <div >
                                            <span>
                                                Trang {{i + 1}}
                                            </span>
                                            <img [src]="url | async" alt="">
                                        </div>
                                    </ng-container>
                                </div> -->
                            </div>
            
                            <div class="row">
                                <div class="col-6 d-flex justify-content-start">
                                    <button type="submit" class="btn btn-allow">Lưu</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>