<div class="box mb-32">
    <h2 style="font-weight: 700; font-size: 20px;color: #2980b9;">Quản lý người dùng > Thêm mới</h2>
    <div class="box-body">
        <form [formGroup]="detailForm" (ngSubmit)="submit()">
            <div class="box mb-32">
                <div class="box-body">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="username" class="label"> Tên đăng nhập </label>
                            <input type="text" class="form-control" id="username" [(ngModel)]="userDetail.username"
                                formControlName="username" />
                            <span *ngIf="isSubmit && detailForm.controls.username?.errors?.['required']"
                                class="text-danger rq-input">Thông tin bắt buộc</span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="password" class="label"> Mật khẩu </label>
                            <input type="password" class="form-control" id="password" [(ngModel)]="userDetail.password"
                                formControlName="password" />
                            <span *ngIf="isSubmit && detailForm.controls.password?.errors?.['required']"
                                class="text-danger rq-input">Thông tin bắt buộc</span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="value" class="label"> Tên đầy đủ </label>
                            <input type="text" class="form-control" id="fullName" [(ngModel)]="userDetail.fullName"
                                formControlName="fullName" />
                            <span *ngIf="isSubmit && detailForm.controls.fullName?.errors?.['required']"
                                class="text-danger rq-input">Thông tin bắt buộc</span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="value" class="label"> Email </label>
                            <input type="text" class="form-control" id="gmail" [(ngModel)]="userDetail.gmail"
                                formControlName="gmail" />
                            <span *ngIf="isSubmit && detailForm.controls.gmail?.errors?.['required']"
                                class="text-danger rq-input">Thông tin bắt buộc</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="phoneNumber" class="label"> Số điện thoại </label>
                        <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="userDetail.phoneNumber"
                            formControlName="phoneNumber" />
                        <span *ngIf="isSubmit && detailForm.controls.phoneNumber?.errors?.['required']"
                            class="text-danger rq-input">Thông tin bắt buộc</span>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="birthday" class="label"> Ngày sinh </label>
                            <input type="text" class="form-control" id="birthday" [(ngModel)]="userDetail.birthday"
                                formControlName="birthday" />
                            <span *ngIf="isSubmit && detailForm.controls.birthday?.errors?.['required']"
                                class="text-danger rq-input">Thông tin bắt buộc</span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="role" class="label"> Cấp bậc </label>
                            <select name="country" class="form-control" [(ngModel)]="userDetail.role"
                                formControlName="role">
                                <option value="0" [selected]>Bạn đọc</option>
                                <option value="1">Quản trị</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row flex-center gap-24 box-btn">
                <button appBackButton type="button" class="btn btn-cancel col-lg-2"
                    [routerLink]="'/cms/quan-ly-nguoi-dung'">
                    Quay lại
                </button>
                <button type="submit" class="btn btn-allow col-lg-2">
                    Lưu
                </button>
            </div>
        </form>
    </div>
</div>