.background {
    background-color: white;
    padding: 10px;
}

.chapter a {
    font-size: 13px;
    color: #000;
    font-weight: 400;
}

.slide-chapter a {
    color: #fff;
    font-size: 13px;
}

.body-down {
    padding-top: 15px;
}



.col-lg-3 img {
    max-width: 100%;
    height: 100%;
}

.img-container {
    display: inline-block;
    position: relative;
    height: 200px;
}

.positioning {
    display: inline-block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: black;
    z-index: 2;
}


.img-info {
    color: white;
    font-size: 12px;
    line-height: 14px;
    opacity: .5;
    text-align: left;
    padding: 2px 0px 3px 0px;
}

.positioning>i {
    padding: 10px 0px;
}

.page-title {
    position: relative;
    text-align: left;
    font-size: 14px;
}

.filter-icon {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border: solid 1px #ff9601;
    border-radius: 30px;
    text-align: center;
    color: #ff9601;
}

.thumbnail-img {
    width: 150px;
}

.img-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.grid-parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/4, max(64px, 100%/4)), 0fr));
}

.grid-children {
    width: 25%;
    min-width: 150px;
    position: relative;
    min-height: 1px;
    text-align: center;
}

pagination-controls {
    margin-bottom: 0px;
}

.title {
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
}

.list-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #333;
}

.slide-title {
    /* width: 100%; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #fff;
}

.slide-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    line-height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
    display: block;
    color: #fff;
    background-color: #000;
}



.slide-info > h3{
    margin: 1px 0;
    font-weight: 400;
}

.comic-item {
    padding: 0px;
    list-style: none;
    margin-bottom: 5px;
}

#info-comic {
    text-align: left;
}

.comic-chapter {
    padding-right: 0;
}

.time-published {
    padding-left: 0;
    text-align: right;
}

.comic-time-published {
    padding: 0px;
    list-style: none;
}

.time {
    padding-left: 0;
    color: silver;
    font-size: 11px;
    font-weight: 400;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.admin-job {
    width: 100%;
    border: solid #ddd 1px;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 10px;
}

.hover-act {
    position: relative;
}

.tooltip {
    position: absolute;
    display: none;
    background-color: red;
    border: 1px solid red;
    padding: 5px;
    z-index: 9999;
    opacity: 1;
}

.hover-act:hover+.tooltip {
    display: block;
}

.items-slide {
    position: relative;
    margin: 0 -7px;
    height: 240px;
}

.items-slide .item {
    border: 1px solid #f2f2f2;
    margin: 0 7px;
    position: relative;
    height: 220px;
    text-align: center;
    overflow: hidden;
}

.items-slide .item img {
    vertical-align: middle;
    width: 100%;
} 

img.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}