
<div id="cluetip">
    <div class="title">Thượng Cổ Thần Văn</div>
    <div class="clearfix">
        <div class="box-img">
            <a title="Thượng Cổ Thần Văn" href="https://www.nettruyento.com/truyen-tranh/thuong-co-than-van-79544">
                <img class="img_a" src="//st.nettruyento.com/data/comics/184/thuong-co-than-van.jpg"
                    data-original="//st.nettruyento.com/data/comics/184/thuong-co-than-van.jpg"
                    alt="Thượng Cổ Thần Văn">
            </a>
        </div>
        <div class="message-main">
            <p>
                <label for="">Thể loại:</label>
                Fantasy,Manhua
            </p>
            <p>
                <label>Tình trạng:</label>Đang tiến hành
            </p>
            <p>
                <label>Lượt xem:</label>205K
            </p>
            <p>
                <label>Bình luận:</label>242
            </p>
            <p>
                <label>Theo dõi:</label>12K
            </p>
            <p>
                <label>Ngày cập nhật:</label>1 giờ trước
            </p>
        </div>
    </div>
    <div class="box-text">
        Con lợn Con lợn Con lợn Con lợn Con lợn Con lợn Con lợn Con lợn Con lợn Con lợn Con lợn Con lợn Con lợn Con
        lợn Con lợn Con lợn Con lợn Con lợn Con lợn Con lợn Con lợn Con lợn Con lợn
    </div>
</div>