<div class="abc">
    <div class="container">
        <footer class="row row-cols-1  py-5 ">
            <div class="col-4 mb-3">
                <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none" role="button">
                    <img src="https://st.nettruyento.com/data/logos/logo-nettruyen.png" alt="Trang chủ">
                </a>
                <div class="information">
                    <p class="nav-link p-0 text-muted"><a href="/">Liên hệ bản quyền</a></p>
                    <p class="nav-link p-0 text-muted"><a href="/">Chính sách bảo mật</a></p>
                </div>
                <p class="text-muted">Copyright © 2023 NetTruyen</p>
            </div>

            <div class="col-8 mb-3">
                <h5>Từ khoá</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Truyện tranh</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Truyen tranh online</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Đọc truyện tranh</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Truyện tranh hot</a></li>
                </ul>

                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Truyện ngôn tình</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Manhwa</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Manga</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Manhua</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Truyenqq</a></li>
                </ul>

                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">cmanga</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">vlogtruyen</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">blogtruyen</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Truyện tranh hay</a></li>
                </ul>
            </div>
        </footer>
    </div>
</div>