<div class="user-page">
    <h1 class="postname">
        Thông tin chung
    </h1>
    <div class="row">
        <div class="col-lg-6">
            <div class="account-info">
                <h2>Thông tin tài khoản</h2>
                <a href="" class="link">Chỉnh sửa <i class="fa fa-chevron-right"></i></a>
                <div class="info-detail">
                    <div class="group">
                        <div class="label">Họ và tên</div>
                        <div class="detail">
                            {{userDetail.fullName}}
                        </div>
                    </div>
                    <div class="group">
                        <div class="label">Số điện thoại</div>
                        <div class="detail">
                          {{userDetail.phoneNumber}}
                        </div>
                    </div>
                    <div class="group">
                        <div class="label">Giới tính</div>
                        <div class="detail">
                            Nam
                        </div>
                    </div>
                    <div class="group">
                        <div class="label">Ngày sinh</div>
                        <div class="detail">
                          {{userDetail.birthday}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div style="position: relative;;">
                <h2>Truyện theo dõi</h2>
                <a href="" class="link">Xem tất cả <i class="fa fa-chevron-right"></i></a>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th class="nowrap">Tên truyện</th>
                        <th class="nowrap">Xem gần nhất</th>
                        <th class="nowrap">Chap mới nhất</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="unread">
                        <td>
                          <a class="image" href="">
                            <img src="//st.ntcdntempv3.com/data/comics/32/vo-luyen-dinh-phong.jpg" class="lazy" data-original="//st.ntcdntempv3.com/data/comics/32/vo-luyen-dinh-phong.jpg" alt="Võ Luyện Đỉnh Phong">
                          </a>
                        </td>
                        <td>
                          <a class="comic-name" href="/truyen-tranh/vo-luyen-dinh-phong-176960">Võ Luyện Đỉnh Phong</a>

                        </td>
                        <td class="nowrap chapter">
                          <time class="time">16 giây trước</time>
                        </td>
                        <td class="nowrap chapter">
                          <a href="/truyen-tranh/vo-luyen-dinh-phong/chap-3377/1014001" title="Chapter 3377">Chapter 3377</a>
                          <br>
                          <time class="time">22 giờ trước</time>
                        </td>
                      </tr>
                      <tr class="unread">
                        <td>
                          <a class="image" href="">
                            <img src="//st.ntcdntempv3.com/data/comics/255/tuyet-sac-dao-lu-deu-noi-ngo-hoang-the-c-2143.jpg" class="lazy" data-original="//st.ntcdntempv3.com/data/comics/255/tuyet-sac-dao-lu-deu-noi-ngo-hoang-the-c-2143.jpg" alt="Tuyệt Sắc Đạo Lữ Đều Nói Ngô Hoàng Thể Chất Vô Địch">
                          </a>
                        </td>
                        <td class="nowrap chapter">
                          <a class="comic-name" href="/truyen-tranh/tuyet-sac-dao-lu-deu-noi-ngo-hoang-the-chat-vo-dich-77055">Tuyệt Sắc Đạo Lữ Đều Nói Ngô Hoàng Thể Chất Vô Địch</a>
                        </td>
                        <td class="nowrap chapter">
                          <time class="time">6 giây trước</time>
                        </td>
                        <td class="nowrap chapter">
                          <a href="/truyen-tranh/tuyet-sac-dao-lu-deu-noi-ngo-hoang-the-chat-vo-dich/chap-89/1014182" title="Chapter 89">Chapter 89</a>
                          <br>
                          <time class="time">13 giờ trước</time>
                        </td>
                      </tr>
                      <tr class="unread">
                        <td class="nowrap chapter">
                          <a class="image" href="/truyen-tranh/thanh-thoi-thu-the-chung-chung-dien-sinh-sinh-te-214010">
                            <img src="//st.ntcdntempv3.com/data/comics/153/thanh-thoi-thu-the-chung-chung-dien-sinh-2875.jpg" class="lazy" data-original="//st.ntcdntempv3.com/data/comics/153/thanh-thoi-thu-the-chung-chung-dien-sinh-2875.jpg" alt="Thảnh Thơi Thú Thế Chủng Chủng Điền, Sinh Sinh Tể">
                          </a>
                        </td>
                        <td class="nowrap chapter">
                          <a class="comic-name" href="/truyen-tranh/thanh-thoi-thu-the-chung-chung-dien-sinh-sinh-te-214010">Thảnh Thơi Thú Thế Chủng Chủng Điền, Sinh Sinh Tể</a>
                        </td>
                        <td class="nowrap chapter">
                          <time class="time">25 giây trước</time>
                        </td>
                        <td class="nowrap chapter">
                          <a href="/truyen-tranh/thanh-thoi-thu-the-chung-chung-dien-sinh-sinh-te/chap-453/893682" title="Chapter 453">Chapter 453</a>
                          <br>
                          <time class="time">23/08/22</time>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <!-- <div class="col-lg-12">
            <div style="position: relative;;">
                <h2>Bình luận</h2>
                <a href="" class="link">Xem tất cả <i class="fa fa-chevron-right"></i></a>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th class="nowrap">Tên truyện</th>
                        <th class="nowrap">Thời gian</th>
                        <th class="nowrap">Nội dung</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="unread">
                        <td>
                          <a class="image" href="">
                            <img src="//st.ntcdntempv3.com/data/comics/32/vo-luyen-dinh-phong.jpg" class="lazy" data-original="//st.ntcdntempv3.com/data/comics/32/vo-luyen-dinh-phong.jpg" alt="Võ Luyện Đỉnh Phong">
                          </a>
                        </td>
                        <td>
                          <a class="comic-name" href="/truyen-tranh/vo-luyen-dinh-phong-176960">Võ Luyện Đỉnh Phong</a>

                        </td>
                        <td class="nowrap chapter">
                          <time class="time">16 giây trước</time>
                        </td>
                        <td class="nowrap content">
                            <a href="">Xem</a>
                        </td>
                      </tr>
                      <tr class="unread">
                        <td>
                          <a class="image" href="">
                            <img src="//st.ntcdntempv3.com/data/comics/255/tuyet-sac-dao-lu-deu-noi-ngo-hoang-the-c-2143.jpg" class="lazy" data-original="//st.ntcdntempv3.com/data/comics/255/tuyet-sac-dao-lu-deu-noi-ngo-hoang-the-c-2143.jpg" alt="Tuyệt Sắc Đạo Lữ Đều Nói Ngô Hoàng Thể Chất Vô Địch">
                          </a>
                        </td>
                        <td class="nowrap chapter">
                          <a class="comic-name" href="/truyen-tranh/tuyet-sac-dao-lu-deu-noi-ngo-hoang-the-chat-vo-dich-77055">Tuyệt Sắc Đạo Lữ Đều Nói Ngô Hoàng Thể Chất Vô Địch</a>
                        </td>
                        <td class="nowrap chapter">
                          <time class="time">6 giây trước</time>
                        </td>
                        <td class="nowrap content">
                            <a href="">Xem</a>
                        </td>
                      </tr>
                      <tr class="unread">
                        <td class="nowrap chapter">
                          <a class="image" href="/truyen-tranh/thanh-thoi-thu-the-chung-chung-dien-sinh-sinh-te-214010">
                            <img src="//st.ntcdntempv3.com/data/comics/153/thanh-thoi-thu-the-chung-chung-dien-sinh-2875.jpg" class="lazy" data-original="//st.ntcdntempv3.com/data/comics/153/thanh-thoi-thu-the-chung-chung-dien-sinh-2875.jpg" alt="Thảnh Thơi Thú Thế Chủng Chủng Điền, Sinh Sinh Tể">
                          </a>
                        </td>
                        <td class="nowrap chapter">
                          <a class="comic-name" href="/truyen-tranh/thanh-thoi-thu-the-chung-chung-dien-sinh-sinh-te-214010">Thảnh Thơi Thú Thế Chủng Chủng Điền, Sinh Sinh Tể</a>
                        </td>
                        <td class="nowrap chapter">
                          <time class="time">25 giây trước</time>
                        </td>
                        <td class="nowrap content">
                            <a href="">Xem</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div> -->
    </div>
</div>