<div class="navbar-top" HostListener>
    <!-- Main navbar -->
    <app-page-header #header id="relative" ></app-page-header>
    <app-page-navbar #miniheader id="fixed" ></app-page-navbar>
    <!-- /main navbar -->
  
    <!-- Page content -->
    <div class="page-content">
      <!-- Main content -->
      <div class="content-wrapper">
        <div class="container main">
            <router-outlet></router-outlet>
        </div>
        <app-page-footer class="footer"></app-page-footer>
      </div>
      <!-- /main content -->
    </div>
    <!-- /page content -->
  </div>