.content-wrapper {
  background-color: #f9f9f9;
}

@media (min-width : 576px) {
  .container {
    width: 68%;
  }
}

.container {
  flex: 1 0 auto;
  text-align: center;
}


.footer {
  color: #fff;
  flex-shrink: 0;

}

#relative {
  position: relative;
  z-index: 99;
}

.sticky {
  height: 40px;
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
}