<div class="navbar-top" HostListener>
    <!-- Main navbar -->
    <app-cms-header #header id="relative"></app-cms-header>

    <div class="page-content">
      <div class="content-wrapper">
        <div class="main">
            <div class="row">
                <div class="col-xl-2">
                <app-side-bar></app-side-bar>
                </div>
                <div class="col-xl-10">
                    <router-outlet></router-outlet>
                </div>
            </div>

        </div>
        <app-page-footer class="footer"></app-page-footer>
      </div>
      <!-- /main content -->
    </div>
    <!-- /page content -->
  </div>