<ng-container>
    <div class="container">
        <form [formGroup]="detailForm" (ngSubmit)="create()">
            <div class="box mb-32">
                <div class="box-body">
                    <div class="row ">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label for="chap" class="label"> Chương</label>
                                <input type="number" class="form-control" id="chap" [(ngModel)]="chapterDetail.chap"
                                    maxlength="300" formControlName="chapNumber" [value]="this.chapterDetail.chap">
                            </div>
                        </div>

                        <div class="col-lg-10">
                            <div class="form-group">
                                <label for="fax" class="label"> Tiêu đề chương</label>
                                <input type="text" class="form-control" id="title" [(ngModel)]="chapterDetail.title"
                                    maxlength="300" formControlName="title">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="my-image">
                                <input type="file" class="form-control" id="imagePath" 
                                    (change)="onFileSelected($event)" multiple/>
                                <!-- <label for="content">
                                    <img [src]="image" alt="abc">
                                </label> -->
                                <label for="content" class="label">Nội dung chap</label>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="this.urls.length > 0">
                        <ng-container *ngFor="let url of urls ; let i = index">
                            <div >
                                <span>
                                    Trang {{i + 1}}
                                </span>
                                <img [src]="url | async" alt="">
                            </div>
                        </ng-container>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 d-flex justify-content-start">
                        <button type="submit" class="btn btn-allow">Lưu</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-container>