@media (min-width : 576px) {
    .dropdown:hover > .dropdown-menu{
        display: flex;
        margin-top: 0;
    }
    .dropdown:hover .nav-link{
        background-color: #e4e4e4;
        color: purple;
    }
}

nav{
    padding: 0px;
    margin: 0px;
}

.bg-div{
    width: 67%;
}

nav.header1 {
    height: 41px;
    position: relative;
    top:0px;
    background-color: #e4e4e4;
}

.navbar-brand {
    padding-right: 50px;
}

.theme-color {
    margin-right: 10px;
}

.item{
    height: 100%;
    padding: 8px;
}

.bg-div .nav-link:hover {
    background-color: #fff;
    color: purple;
}

.list-ul2{
    flex-direction: column;
}

.list-ul1{
    flex-direction: row;
    padding: 0px;
}

.list-ul1>li{
    padding: 0px 5px;
}

.list-ul1>li>a{
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 32px;
    font-size: 14px;
    padding: 0 10px;
    display: block;
    white-space: nowrap;
    background-color: transparent;
}

a.active {
    background-color: #fff;
    color: #ae4ad9;
}

a.highlight {
    font-weight: bold;
    color: red;
}