<nav class="navbar navbar-expand-lg bg-light header1">
    <div class="container bg-div">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li>
            <a class="nav-link" href="#"><i class="fa-solid fa-house-chimney fa-lg" style="color: #111213;"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">HOT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">THEO DÕI</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">LỊCH SỬ</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " href="#" role="button" aria-expanded="false">
              THỂ LOẠI
            </a>
            <ul class="dropdown-menu list-ul1">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="row nav-link dropdown-toggle" role="button" aria-expanded="false">
              XẾP HẠNG
            </a>
            <ul class="dropdown-menu list-ul2">
              <li>
                <a class="dropdown-item" href="#"><i class="fa-solid fa-eye" style="color: #000000;"></i> Top All</a>
                <a class="dropdown-item" href="#"><i class="fa-solid fa-eye" style="color: #000000;"></i> Top tháng</a>
                <a class="dropdown-item" href="#"><i class="fa-solid fa-eye" style="color: #000000;"></i> Top tuần</a>
                <a class="dropdown-item" href="#"><i class="fa-solid fa-eye" style="color: #000000;"></i> Top ngày</a>
              </li>
              <li>
                <a class="dropdown-item" href="#" style="color: #ff0000;"><i class="fa-sharp fa-solid fa-chart-simple" style="color: #ff0000;"></i><b> Truyện full</b></a>
                <a class="dropdown-item" href="#"><i class="fa-regular fa-thumbs-up" style="color: #000000;"></i> Yêu thích</a>
                <a class="dropdown-item" href="#"><i class="fa-solid fa-rotate" style="color: #000000;"></i> Mới cập nhật</a>
                <a class="dropdown-item" href="#"><i class="fa-solid fa-cloud-arrow-up" style="color: #000000;"></i> Truyện mới</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">TÌM TRUYỆN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CON GÁI</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CON TRAI</a>
          </li>
        </ul>
      </div>
      <div class="box mb-32">
        <div class="row">
            <div class="col-12 d-flex justify-content-start">
                <a routerLink="them-truyen" class="nav-link">THÊM TRUYỆN</a>
            </div>
        </div>
    </div>
    </div>
</nav>