<ng-container>
    <div class="container background">
        <div class="row page-title">
        </div>
        <div class="d-flex align-items-end">
            <h1 class="prm-title" *ngIf="chapterDetail.comic">
                <a [routerLink]="['/chi-tiet-truyen', chapterDetail.comic.id]">{{chapterDetail.comic.name}}</a>
                <span class="prm-title">- Chapter {{chapterDetail.chap}} </span>
            </h1>
            <i class="small"> [Cập nhật lúc: {{chapterDetail.updatedAt | date:'hh:mm dd/MM/yyyy'}}] </i>
        </div>
        <div class="reading-control">
            <div class="mrb5">
                <div>
                    Nếu không xem được ảnh vui lòng đổi "SERVER ẢNH" bên dưới (Đang cập nhật)
                </div>
                <div class="mrt10">
                    <a class="loadchapter btn btn-success mrb5" href="">Server 1</a>
                    <a class="loadchapter btn btn-primary mrb5" href="">Server 2</a>
                    <a class="loadchapter btn btn-primary mrb5" href="">Server VIP</a>
                    <a class="loadchapter btn btn-primary mrb5" href="">Server VIP 2</a>
                </div>
            </div>
            <div class="mb10">
                <a class="alertError btn btn-warning" href="">
                    <i class="fa fa-exclamation-triangle"></i> Báo lỗi
                </a>
            </div>
            <div class="alert alert-info mrb10 hidden-xs hidden-sm">
                <i class="fa fa-info-circle"></i> <em>Sử dụng mũi tên trái (←) hoặc phải (→) để chuyển chapter</em>
            </div>

            <div class="chapter-nav" id="chapterNav">
                <a class="home" href="/" title="Trang chủ"><i class="fa fa-home"></i></a>
                <a class="home backward" href="" title=""
                    [routerLink]="['/chi-tiet-truyen', chapterDetail.comic?.id]"><i class="fa fa-list"></i></a>
                <button type="button" class="prev a_prev disabled" [disabled]="isFirstChapter" (click)="prev()"><i class="fa fa-chevron-left"></i></button>

                <ng-select class="select-chapter" [items]="chapterSearch" bindLabel="chap" bindValue="chap" [clearable]="false" [virtualScroll]="true" appendTo="body"
                    [(ngModel)]="selectedChapter" (change)="onOptionSelected()">  
                    <ng-template ng-label-tmp let-item="item">
                        Chapter {{item.chap}}
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-index="index" >
                        Chapter {{item.chap}}
                    </ng-template>
                </ng-select>
                <button type="button" class="next a_next" (click)="next()"><i class="fa fa-chevron-right"></i></button>
            </div>
        </div>
        <div class="image-background" *ngIf="urls">
            <ng-container *ngFor="let url of urls">
                <img [src]="url|async" alt="">
            </ng-container>
        </div>
        <div class="chapter-nav-bottom text-center">
            <button type="button" class="btn btn-danger" [disabled]="isFirstChapter" (click)="prev()"><i class="fa fa-chevron-left"></i> Chap trước</button>
            <button type="button" class="btn btn-danger" (click)="next()">Chap sau <i class="fa fa-chevron-right"></i></button>
        </div>
    </div>

</ng-container>