@import "~@ng-select/ng-select/themes/default.theme.css";

html {

  height: 100%;

}

body {

  height: 100%;

  display: flex;

  flex-direction: column;

  font-family: Tahoma, sans-serif, Helvetica, Arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}